.main{
    color: var(--Branco);
    padding-top: 75px;
}
.main h1{
    font-size: 3rem;
}
.main section{
    padding: 50px;
}
.window{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: var(--Primaria);
    padding: 20px;
}
.window p{
    margin-top: 0;
}