:root{
    --Primaria: #590202;
    --Secundaria: #c97d7d;
    --Complementar1: #d36c11;
    --Complementar2: #260101;
    --Botoes: #0e0d0d;
    --BotoesHover: #252525;
    --Branco: #F1E5D7;
    --Preto: #0e0d0c;
}